<div *ngIf="mission" class="details-wrapper animate-fade">
    <h2 class="title">SpaceX Mission Details</h2>
  
    <div class="details-card">
      <img class="patch" [src]="mission.links.mission_patch_small" alt="Mission Patch">
      <div class="info">
        <h3 class="mission-title">Mission - {{ mission.mission_name }}</h3>
        <p><strong>Name :</strong> {{ mission.mission_name }}</p>
        <p><strong>Launch Year:</strong> {{ mission.launch_year }}</p>
  
        <h4>Rocket</h4>
        <p><strong>Name :</strong> {{ mission.rocket.rocket_name }}</p>
        <p><strong>Type :</strong> {{ mission.rocket.rocket_type }}</p>
  
        <h4>Launch Details</h4>
        <p>{{ mission.details || 'No detailed description available.' }}</p>
  
        <h4>Links</h4>
        <p *ngIf="mission.links.article_link"><a [href]="mission.links.article_link" target="_blank">Article</a></p>
        <p *ngIf="mission.links.wikipedia"><a [href]="mission.links.wikipedia" target="_blank">Wikipedia</a></p>
        <p *ngIf="mission.links.video_link"><a [href]="mission.links.video_link" target="_blank">Video</a></p>
      </div>
    </div>
  
    <button class="back-button" (click)="goBack()">← Back</button>
  </div>
  