<mat-form-field style="width: 100%">
    <mat-label>Enter Launch Year</mat-label>
    <input matInput [(ngModel)]="year" placeholder="e.g., 2020">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="filterByYear()">Search</button>
  
  <div *ngFor="let launch of filteredLaunches">
    <mat-card style="margin: 10px">
      <mat-card-title>{{ launch.mission_name }} ({{ launch.launch_year }})</mat-card-title>
      <mat-card-content>
        <p>{{ launch.details || 'No details.' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="global-header">COMP 3133 | Lab Test2 | SpaceX API</div>
<div class="mission-page">
  <aside class="filters">
    <h3>Launch Date</h3>
    <div class="filter-group">
      <button *ngFor="let y of [2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]"
              (click)="year = y.toString(); applyFilters()"
              [class.active]="year === y.toString()">
        {{ y }}
      </button>
    </div>

    <h4>Successful Launch</h4>
    <div class="filter-group">
      <button (click)="launchSuccess = 'true'; applyFilters()" [class.active]="launchSuccess==='true'">true</button>
      <button (click)="launchSuccess = 'false'; applyFilters()" [class.active]="launchSuccess==='false'">false</button>
    </div>

    <h4>Successful Land</h4>
    <div class="filter-group">
      <button (click)="landingSuccess = 'true'; applyFilters()" [class.active]="landingSuccess==='true'">true</button>
      <button (click)="landingSuccess = 'false'; applyFilters()" [class.active]="landingSuccess==='false'">false</button>
    </div>

    <button class="reset-btn" (click)="resetAndReturn()">Reset Filters</button>
  </aside>

  <section class="missions">
    <div class="mission-card" *ngFor="let launch of filteredLaunches" (click)="goToDetails(launch.flight_number)">
      <img [src]="launch.links.mission_patch_small" alt="patch">
      <h4>{{ launch.mission_name }} #{{ launch.flight_number }}</h4>
      <p><strong>Mission Ids:</strong> {{ launch.mission_id?.join(', ') || '-' }}</p>
      <p><strong>Launch Year:</strong> {{ launch.launch_year }}</p>
      <p><strong>Successful Launch:</strong> {{ launch.launch_success ? 'Yes' : 'No' }}</p>
      <p><strong>Successful Landing:</strong>
        {{ launch.rocket?.first_stage?.cores[0]?.land_success === null ? 'No Data' : (launch.rocket.first_stage.cores[0].land_success ? 'Yes' : 'No') }}
      </p>
    </div>
  </section>
</div>
